@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";

body {
	margin: auto;
	font-family: "Roboto";
	background-color: darkgray;
}

.center-text {
	text-align: center;
}