.pixel {
	width: 1rem;
	height: 1rem;
}

.note:hover {
	cursor: pointer;
}

@keyframes selected-breathe {
	0% {
		filter: brightness(1);
		-webkit-filter: brightness(1);
	}
	50% {
		filter: brightness(0.5);
		-webkit-filter: brightness(0.5);
	}
	100% {
		filter: brightness(1);
		-webkit-filter: brightness(1);
	}
}

.selected {
	animation-name: selected-breathe;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}